{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript"
    },
    "baseUrl": "./src",
    "minify": {
      "compress": false,
      "format": {
        "comments": false
      }
    }
  }
}
