name: 'auto: Release Note Drafter'
permissions:
  contents: write
  pull-requests: write

on:
  workflow_dispatch: {}
  push:
    branches:
      - main

concurrency:
  group: drafter-${{ github.ref }}
  cancel-in-progress: true

jobs:
  update_draft_release:
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6
        with:
          config-name: release-drafter.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
