name: 'CI'

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lintAndTest:
    name: Lint & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v1
      - name: Use Node.js v18
        uses: actions/setup-node@v1
        with:
          node-version: 18
      - name: Install Packages
        run: npm install
      - name: Format
        run: npm run format:check
      - name: Lint
        run: npm run lint:check
      - name: Type Check
        run: npm run type:check
      - name: Install Test Packages
        working-directory: tests 
        run: npx prisma generate
      - name: Test
        run: npm test
